<div id="mySlider" class="crousel slide" data-ride="carousel">
    
    <ol class="crousel-indicators">
        <li data-target="#mySlider" data-slide-to="0" class="active"></li>
        <li data-target="#mySlider" data-slide-to="1"></li>
        <li data-target="#mySlider" data-slide-to="2"></li>
    </ol>

    <div class="crousel-inner">
        <div class="crousel-item active">
            <img src="~/img/slider1.png" class="d-block img-fluid" />
        </div>
        <div class="crousel-item">
            <img src="~/img/slider2.png" class="d-block img-fluid" />
        </div>
        <div class="crousel-item">
            <img src="~/img/slider3.png" class="d-block img-fluid" />
        </div>

        <a href="#mySlider" data-slide="prev" class="crousel-control-prev">
            <span class="crousel-control-prev-icon"></span>
        </a>

        <a href="#mySlider" data-slide="next" class="crousel-control-next">
            <span class="crousel-control-prev-icon"></span>
        </a>

    </div>


</div>