<div id="mySlider" class="crousel slide" data-ride="carousel">
    
    <ol class="crousel-indicators">
        <li></li>

    </ol>

    <div class="crousel-inner">
        <div class="crousel-item active">
            <img src=""
        </div>

    </div>


</div>