
@{
    ViewData["Title"] = "CreateProduct";
}

<h1>CreateProduct</h1>
<hr />

<div class="row">
    <div class="col-md-8">

        <form asp-controller="Admin" asp-action="CreateProduct" method="post"></form>
        <div class="form-group-row">
            <label class="col-md-2 col-form-label">Product Name</label>
            <input type="text" name="name" value="" />
        </div>
    </div>
</div>
